html,body{
    height: 100%;
}
body{
    background: white;
    margin: 0px  ;
    padding: 0px;

}
.container{

    width :1400px;
    margin: 0em auto;
    position: relative;
    background-color: white;
    
}

.sec1{ 
   
    flex-direction: row;
    justify-content: space-evenly;
    left: 20px;
  }
  .sec1 p{
  font-size: 30px;
  position: relative;
  left: 20px;
    color: #585d64;
  }
.sec2{ 

    flex-direction: row;
    justify-content: space-evenly;
  
  }
  #circle1{
    width :100px;
    height: 100px;
   background-color: #ffffff;
   border-radius: 50%;
   border: 2px solid rgb(43, 110, 181);
   text-align: center;
   position: absolute;
   left: 100px;
  }
  #circle1 p{
    margin-top: 15px;
  font-size: 60px;
  color: rgb(43, 110, 181);
  text-align: center;
  }
  #circle2{
    width :100px;
    height: 100px;
   background-color: #ffffff;
   border-radius: 50%;
   border: 2px solid rgb(43, 110, 181);
   text-align: center;
   position: absolute;
   left: 600px;
  }
  #circle2 p{
    margin-top: 15px;
  font-size: 60px;
  color: rgb(43, 110, 181);
  text-align: center;
  }
  #circle3{
    width :100px;
    height: 100px;
   background-color: #ffffff;
   border-radius: 50%;
   border: 2px solid rgb(43, 110, 181);
   text-align: center;
   position: absolute;
   left: 1100px;
  }
  #circle3 p{
    margin-top: 15px;
  font-size: 60px;
  color: rgb(43, 110, 181);
  text-align: center;
  }

  .sec21{ 
    position: absolute;
    margin-top: 150px;
    flex-direction: row;
    justify-content: space-evenly;
  
  }
  .sec21 img{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    position: absolute;
  }
  .sec21 p{
    position: relative;
    color: #585d64;
    font-size: 20px;
    margin-left: 300px; 
  }
  .sec22{ 
    position: absolute;
    margin-top: 150px;
   
  
  }
  .sec22 img{
    width: 200px;
    height: 200px;
    margin-left: 500px;
    position: absolute;
  }
  .sec22 p{
  
    color: #585d64;
    font-size: 20px;
    margin-left: 700px; 
  
  }
  .sec23{ 
    position: absolute;
    margin-top: 150px;
    flex-direction: row;
    justify-content: space-evenly;
  
  }
  .sec23 img{
    width: 200px;
    height: 200px;
    margin-left: 900px;
    position: absolute;
  }
  .sec23 p{
    width: 40px;
    color: #585d64;
    font-size: 20px;
    margin-left: 1100px; 
  
  }

  .bot{
    width: 400px;
    height: 50px;
    border-bottom: 2px dashed rgb(43, 110, 181) ;
    left: 205px;
    position: absolute;
  }
  .bot2{
    width: 400px;
    height: 50px;
    border-bottom: 2px dashed rgb(43, 110, 181) ;
    left: 705px;
    position: absolute;
  }

  h1 {
    font-size: 80px;
    color: #141d28;
position: relative;
left: 20px;
  }
h1 img{
    width :100px;
    height: 100px; 
}





.result {
    height: 100vh;
    display: flex;
    align-items: center;
   justify-content: center;
    margin-top: 250px;
}
.result-content {
    background-color: rgb(199, 214, 250);
    width: 80%;
    border: 6px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(152, 152, 152, 0.4);
}
.result-content a {
    background-color: #0073ff;
    text-decoration: 0;
}
.result-content a:hover {
    text-decoration: underline;
}
/**Scroll bar css*/
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
}
.result-content h3 {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    color: rgb(41, 40, 40);
    font-size: 20px;

}
.liste-produits {
    max-height: 400px;
    overflow: auto;
}
.produit {
    margin: 20px 0;
    height: 100px;
    display: flex;
}
.produit .image-prod {
    height: 100%;
    width: 100px;
}
.produit .image-prod img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.produit .text {
    margin-left: 15px;
    overflow: hidden;
    width: 80%;
}
.produit .text .titre {
    text-transform: uppercase;
}
.produit .text .description {
    color: rgba(0,0,0,0.6);
    font-size: 16px;

}







#ajou{
  position: absolute;
  right: 20px;
top: 50px;
}
#ajou a{
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3s;
  background-color: rgb(62, 148, 230);
  padding: 8px;
  border-radius: 8px;
 
}
#ajou a:hover{
  color: #0f1c2c;
}
#ajou a:active{
  background-color: rgb(62, 148, 230);
  padding: 8px;
  border-radius: 8px;
}








    /*responsive*/
@media (max-width:745px) {
    .result-content{
        width: 80%;
    }
    
}